<div class="container" id="container">
  <div class="form-container sign-up-container">
    <form action="#">
      <h2>Tạo tài khoản</h2>
      <input
        type="text"
        placeholder="Tên tài khoản"
        [(ngModel)]="registerForm.username"
        name="username"
      />
      <input
        type="email"
        placeholder="Email"
        [(ngModel)]="registerForm.email"
        name="email"
      />
      <input
        type="password"
        placeholder="Mật khẩu"
        [(ngModel)]="registerForm.password"
        name="password"
      />
      <button (click)="register()">Đăng ký</button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form action="#">
      <h2>Đăng nhập</h2>
      <input
        type="text"
        placeholder="Tên tài khoản"
        [(ngModel)]="loginForm.username"
        name="username"
      />
      <input
        type="password"
        placeholder="Mật khẩu"
        [(ngModel)]="loginForm.password"
        name="password"
      />
      <a href="javascript:void(0)">Quên mật khẩu?</a>
      <button (click)="login()">Đăng nhập</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome back!</h1>
        <p>
          Để duy trì kết nối với chúng tôi vui lòng đăng nhập bằng thông tin cá
          nhân của bạn
        </p>
        <button class="ghost" id="signIn" (click)="loginFormChange()">
          Đăng nhập
        </button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, Friend!</h1>
        <p>
          Nhập thông tin cá nhân của bạn và bắt đầu hành trình với chúng tôi
        </p>
        <button class="ghost" id="signUp" (click)="registerFormChange()">
          Đăng ký
        </button>
      </div>
    </div>
  </div>
</div>
